<div layout="row" layout-padding layout-align="center center">
    <div class="auth-div" layout="column" flex-gt-md="50" flex-lg="50" flex-sm="100" flex-md="75">
        <div style="text-align: center">
            <h1 class="logo">
                T!cket
            </h1>
        </div>
        <div layout="column">
            <md-whiteframe
                    class="md-whiteframe-1dp">
                <md-tabs
                        md-center-tabs="true"
                        md-stretch-tabs="always"
                        md-dynamic-height="true"
                        class="md-primary">
                    <md-tab id="tab1">
                        <md-tab-label>Login</md-tab-label>
                        <md-tab-body>
                            <div layout="column">
                                <div layout="row" class="container-item">
                                    <md-input-container flex="80">
                                        <label>E-Mail</label>
                                        <input name="email" ng-model="$ctrl.email" type="email" required>
                                        <div ng-messages="$ctrl.formular.email.$error">
                                            <div ng-message="required">Bitte geben Sie eine E-Mail an.</div>
                                            <div ng-message="email">Keine Mailadresse.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" class="container-item">
                                    <md-input-container flex="80">
                                        <label>Passwort</label>
                                        <input name="password" ng-model="$ctrl.password" type="password" required>
                                        <div ng-messages="$ctrl.formular.password.$error">
                                            <div ng-message="required">Bitte geben Sie eine E-Mail an.</div>
                                            <div ng-message="password">Keine Mailadresse.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" class="container-item bottom-params">
                                    <div layout="column">
                                        <md-checkbox ng-model="$ctrl.daten_merken" name="daten_merken">
                                            Daten merken
                                        </md-checkbox>
                                        <a href="#">Passwort vergessen?</a>
                                    </div>
                                    <div layout="column">
                                        <md-button class="md-raised md-primary big-button">Login</md-button>
                                    </div>
                                </div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab2">
                        <md-tab-label>Registieren</md-tab-label>
                        <md-tab-body>
                            <div layout="column">
                                <div layout="row" class="container-item">
                                    <md-input-container flex="40">
                                        <label>Vorname</label>
                                        <input name="username" ng-model="$ctrl.vorname" required minlength="2">
                                    </md-input-container>
                                    <md-input-container flex="40">
                                        <label>Nachname</label>
                                        <input name="Nachname" ng-model="$ctrl.Nachname" required minlength="2">
                                    </md-input-container>
                                </div>
                                <div layout="row" class="container-item">
                                    <md-input-container flex="90">
                                        <label>E-Mail</label>
                                        <input name="email" ng-model="$ctrl.email" type="email" required>
                                        <div ng-messages="$ctrl.formular.email.$error">
                                            <div ng-message="required">Bitte geben Sie eine E-Mail an.</div>
                                            <div ng-message="email">Keine Mailadresse.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" class="container-item">
                                    <md-input-container flex="90">
                                        <label>Token</label>
                                        <input name="token" ng-model="$ctrl.token" type="text" required>
                                    </md-input-container>
                                </div>
                                <div layout="row" class="container-item">
                                    <md-input-container flex="40">
                                        <label>Vorname</label>
                                        <input name="username" ng-model="$ctrl.vorname" required minlength="2">
                                    </md-input-container>
                                    <md-input-container flex="40">
                                        <label>Nachname</label>
                                        <input name="Nachname" ng-model="$ctrl.Nachname" required minlength="2">
                                    </md-input-container>
                                </div>
                                <div layout="row" class="container-item bottom-params">
                                    <div layout="column">
                                        <md-checkbox ng-model="$ctrl.daten_merken" name="daten_merken">
                                            Daten merken
                                        </md-checkbox>
                                        <a href="#">Passwort vergessen?</a>
                                    </div>
                                    <div layout="column">
                                        <md-button class="md-raised md-primary big-button">Login</md-button>
                                    </div>
                                </div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-whiteframe>
        </div>
    </div>
</div>