

.container-item {
    margin: 2% 0% 2% 0%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.big-button {
    width: 300px;
    height: 70px
}


@media (max-device-width: 600px) {

    .layout-row .bottom-params{
        flex-direction: column;
    }
}