<div layout="row" layout-padding layout-align="center center">
    <div class="auth-div" layout="column" flex-gt-md="50" flex-lg="50" flex-sm="100" flex-md="75">
        <div style="text-align: center">
            <h1 class="logo">
                T!cket
            </h1>
        </div>
        <div layout="column">
            <md-whiteframe class="md-whiteframe-1dp">
                <md-tabs md-center-tabs="true" md-stretch-tabs="always" md-dynamic-height="true" class="md-primary">
                    <login-tab></login-tab>
                    <register-tab></register-tab>
                </md-tabs>
            </md-whiteframe>
        </div>
    </div>
</div>