.login-labels, .register-labels {
    font-size: 1.25em;
}

.login-grid {
    display: grid;
    margin: 0 6em 0 6em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.login-email-container {
    margin: 4em -3em 4em -3em;
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-passwort-container {
    margin: 4em -3em 4em -3em;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-parameters {
    margin-left: -2.5em !important;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
}

.login-in-button {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    justify-self: end;
}

.big-button {
    width: 300px;
    height: 70px
}

.register-grid {
    display: grid;
    margin: 2em 6em 2em 6em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.register-firstname-container {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
}

.register-lastname-container {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}

.register-email-container {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}

.register-code-container {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;
}

.register-passwort-container {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 4;
    grid-row-end: 5;
}

.register-repeat-passwort-container {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;
}

.register-parameters {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 5;
    grid-row-end: 6;
}

.register-in-button {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 5;
    grid-row-end: 6;

    place-self: center;
}