<div class="menu-panel-left">
    <md-toolbar class="md-scroll-shrink">
        <div layout="column" class="menu-navigator-left">
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Meine T!ckets" ui-sref="ticket-ansicht">
                    <i class="fas fa-ticket-alt"></i>
                </md-button>
                <p>Meine T!ckets</p>
            </div>
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="T!cket hinzufügen" ui-sref="ticket-hinzufuegen-user">
                    <i class="fas fa-plus-circle"></i>
                </md-button>
                <p>T!cket hinzufügen</p>
            </div>
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Profil" ui-sref="profil">
                    <i class="fas fa-user"></i>
                </md-button>
                <p>Profil</p>
            </div>
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Nachrichten">
                    <i class="fas fa-bell"></i>
                </md-button>
                <p>Nachrichten</p>
            </div>
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Einstellungen">
                    <i class="fas fa-cog"></i>
                </md-button>
                <p>Einstellungen</p>
            </div>
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Kontakt (Admin)">
                    <i class="fas fa-envelope"></i>
                </md-button>
                <p>Kontakt (Admin)</p>
            </div>
        </div>
    </md-toolbar>
</div>