<div class="menu-panel-footer">
    <md-toolbar class="md-scroll-shrink">
        <div layout="row" layout-align="center center" class="menu-navigator-footer">
            <div class="icon-div" layout="column">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Meine T!ckets" ui-sref="ticket-ansicht-user">
                    <i class="fas fa-ticket-alt"></i>
                </md-button>
            </div>
            <div class="icon-div" layout="column">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="T!cket hinzufügen" ui-sref="ticket-hinzufuegen-user">
                    <i class="fas fa-plus-circle"></i>
                </md-button>
            </div>
            <div class="icon-div" layout="column">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Profil" ui-sref="profil">
                    <i class="fas fa-user"></i>
                </md-button>
            </div>
        </div>
    </md-toolbar>
</div>