<div class="menu-panel-left">
    <md-toolbar class="md-scroll-shrink">
        <div layout="column" class="menu-navigator-left">
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Benutzerübersicht">
                    <i class="fas fa-users"></i>
                </md-button>
                <p>Benutzerübersicht</p>
            </div>
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Profil" ui-sref="profil">
                    <i class="fas fa-user"></i>
                </md-button>
                <p>Profil</p>
            </div>
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Nachrichten">
                    <i class="fas fa-bell"></i>
                </md-button>
                <p>Nachrichten</p>
            </div>
            <div class="left-menu-icon-div" layout="row">
                <md-button md-no-ink class="md-fab md-mini md-raised md-primary" aria-label="Statistik">
                    <i class="far fa-chart-bar"></i>
                </md-button>
                <p>Statistik</p>
            </div>
        </div>
    </md-toolbar>
</div>