<div id="profil_mobile_ansicht">
    <div>
        <menu-navigator-top></menu-navigator-top>
    </div>
    <div align="center">
        <h1>Profil</h1>
    </div>

    <div layout="row" class="mobile-profil-div">
        <md-input-container flex="30">
            <label></label>
            <input type="text" name="profil_vorname" ng-model="$ctrl.profil_vorname" placeholder="{$ctrl.profilDaten.firstName}">
        </md-input-container>
        <md-input-container flex="30">
            <label></label>
            <input type="text" name="profil_nachname" ng-model="$ctrl.profil_nachname" placeholder="{$ctrl.profilDaten.firstName}">
        </md-input-container>
    </div>
    <div layout="row" class="mobile-profil-div">
        <md-input-container flex="70">
            <label></label>
            <input type="email" name="profil_email" ng-model="$ctrl.profil_email" placeholder="{$ctrl.profilDaten.email}">
        </md-input-container>
    </div>
    <div layout="row" class="mobile-profil-div">
        <div layout="column" flex="70">
            <md-input-container>
                <label></label>
                <input type="password" name="profil_passwort" ng-model="$ctrl.profil_passwort" placeholder="Neues Passwort">
            </md-input-container>
            <md-input-container>
                <label></label>
                <input type="password" name="profil_passwort_wiederholen" ng-model="$ctrl.profil_passwort_wiederholen"
                       placeholder="Neues Passwort wiederholen">
            </md-input-container>
        </div>
    </div>
    <div layout="column" class="container-item bottom-params">
        <md-button class="md-raised md-primary big-button" ng-disabled="!($ctrl.unsavedChanges)">Speichern</md-button>
        <a ui-sref="authentifikation">
            <md-button class="md-raised md-primary big-button">Ausloggen</md-button>
        </a>
    </div>
    <div>
        <menu-navigator-footer></menu-navigator-footer>
    </div>
</div>

<!--Desktop-Ansicht-->
<div layout="column" id="profil_desktop_ansicht">
    <div>
        <menu-navigator-left-user></menu-navigator-left-user>
    </div>
    <div class="profil-desktop-div">
        <div align="center">
            <h1>Profil</h1>
        </div>
        <div layout="row" class="profil-div desktop-profil-div">
            <md-input-container flex="30">
                <label></label>
                <input type="text" name="profil_vorname" ng-model="$ctrl.profil_vorname" placeholder="Vorname">
            </md-input-container>
            <md-input-container class="lastname-div" flex="30">
                <label></label>
                <input type="text" name="profil_nachname" ng-model="$ctrl.profil_nachname" placeholder="Nachname">
            </md-input-container>
        </div>
        <div layout="row" class="profil-div desktop-profil-div">
            <md-input-container flex="70">
                <label></label>
                <input type="email" name="profil_email" ng-model="$ctrl.profil_email" placeholder="email@test.com">
            </md-input-container>
        </div>
        <div layout="row" class="profil-div desktop-profil-div">
            <div layout="column" flex="70">
                <md-input-container>
                    <label></label>
                    <input type="password" name="profil_passwort" ng-model="$ctrl.profil_passwort" placeholder="Neues Passwort">
                </md-input-container>
                <md-input-container>
                    <label></label>
                    <input type="password" name="profil_passwort_wiederholen"
                           ng-model="$ctrl.profil_passwort_wiederholen" placeholder="Neues Passwort wiederholen">
                </md-input-container>
            </div>
        </div>
        <div layout="row" class="container-item bottom-params">
            <md-button class="md-raised md-primary big-button" ng-disabled="!$ctrl.unsavedChanges">Speichern</md-button>
            <a ui-sref="authentifikation">
                <md-button class="md-raised md-primary big-button">Ausloggen</md-button>
            </a>
        </div>
    </div>
</div>

<p>{{ $ctrl.user.firstname }}</p>
<p>{{ $ctrl.user.lastname }}</p>