<div id="profil_mobile_ansicht">
    <div>
        <menu-navigator-top></menu-navigator-top>
    </div>
    <div align="center">
        <h1>Profil</h1>
    </div>
    <div layout="column" class="container-item bottom-params">
        <a ui-sref="authentifikation">
            <md-button class="md-raised md-primary big-button">Ausloggen</md-button>
        </a>
    </div>
    <div>
        <menu-navigator-footer></menu-navigator-footer>
    </div>
</div>

<div layout="row" id="profil_desktop_ansicht">
    <div>
        <menu-navigator-left></menu-navigator-left>
    </div>
    <div class="profil-desktop-div">
        <div align="center">
            <h1>Profil</h1>
        </div>
        <div layout="row" class="container-item bottom-params ">
            <a ui-sref="authentifikation">
                <md-button class="md-raised md-primary big-button">Ausloggen</md-button>
            </a>
        </div>
    </div>
</div>