<div id="profil_mobile_ansicht">
    <div>
        <menu-navigator-top></menu-navigator-top>
    </div>
    <div align="center">
        <h1>Profil</h1>
    </div>

    <div layout="row" class="profil-div">
        <md-input-container flex="30">
            <label ng-hide="$ctrl.hide_vorname_bool">Vorname</label>
            <input type="text" name="profil_vorname" ng-model="$ctrl.profil_vorname" ng-disabled="$ctrl.edit_name_bool">
        </md-input-container>
        <md-input-container flex="30">
            <label ng-hide="$ctrl.hide_nachname_bool">Nachname</label>
            <input type="text" name="profil_nachname" ng-model="$ctrl.profil_nachname"
                   ng-disabled="$ctrl.edit_name_bool">
        </md-input-container>
    </div>
    <div layout="row" class="profil-div">
        <md-input-container flex="70">
            <label ng-hide="$ctrl.hide_email_bool">email@test.com</label>
            <input type="email" name="profil_email" ng-model="$ctrl.profil_email" ng-disabled="$ctrl.edit_email_bool">
        </md-input-container>
    </div>
    <div layout="row" class="profil-div" ng-hide="$ctrl.hide_edit_passwort_div">
        <md-input-container flex="70">
            <label>Passwort</label>
            <input type="password" name="profil_passwort" ng-model="$ctrl.profil_passwort"
                   ng-disabled="$ctrl.edit_passwort_bool">
        </md-input-container>
    </div>
    <div layout="row" class="profil-div" ng-hide="$ctrl.hide_save_passwort_div">
        <div layout="column" flex="70">
            <md-input-container>
                <label ng-hide="$ctrl.hide_passwort_bool">Neues Passwort</label>
                <input type="password" name="profil_passwort" ng-model="$ctrl.profil_passwort">
            </md-input-container>
            <md-input-container>
                <label ng-hide="$ctrl.hide_passwort_bool">Passwort wiederholen</label>
                <input type="password" name="profil_passwort_wiederholen" ng-model="$ctrl.profil_passwort_wiederholen">
            </md-input-container>
        </div>
    </div>
    <div layout="column" class="container-item bottom-params">
        <md-button class="md-raised md-primary big-button" ng-disabled="!($ctrl.unsavedChanges)">Speichern</md-button>
        <a ui-sref="authentifikation">
            <md-button class="md-raised md-primary big-button">Ausloggen</md-button>
        </a>
    </div>
    <div>
        <menu-navigator-footer></menu-navigator-footer>
    </div>
</div>

<!--Desktop-Ansicht-->
<div layout="row" id="profil_desktop_ansicht">
    <div>
        <menu-navigator-left-user></menu-navigator-left-user>
    </div>
    <div class="profil-desktop-div">
        <div align="center">
            <h1>Profil</h1>
        </div>
        <div layout="row" class="profil-div desktop-profil-div">
            <md-input-container flex="30">
                <label ng-hide="$ctrl.hide_vorname_bool">Vorname</label>
                <input type="text" name="profil_vorname" ng-model="$ctrl.profil_vorname"
                       ng-disabled="$ctrl.edit_name_bool">
            </md-input-container>
            <md-input-container flex="30">
                <label ng-hide="$ctrl.hide_nachname_bool">Nachname</label>
                <input type="text" name="profil_nachname" ng-model="$ctrl.profil_nachname"
                       ng-disabled="$ctrl.edit_name_bool">
            </md-input-container>
        </div>
        <div layout="row" class="profil-div desktop-profil-div">
            <md-input-container flex="70">
                <label ng-hide="$ctrl.hide_email_bool">email@test.com</label>
                <input type="email" name="profil_email" ng-model="$ctrl.profil_email"
                       ng-disabled="$ctrl.edit_email_bool">
            </md-input-container>
        </div>
        <div layout="row" class="profil-div desktop-profil-div" ng-hide="$ctrl.hide_edit_passwort_div">
            <md-input-container flex="70">
                <label>Passwort</label>
                <input type="password" name="profil_passwort" ng-model="$ctrl.profil_passwort"
                       ng-disabled="$ctrl.edit_passwort_bool">
            </md-input-container>
            <div class="desktop_edit_button" flex="20">
                <md-button ng-click="$ctrl.editPasswort()" class="md-fab md-mini md-raised md-primary">
                    <i class="fas fa-edit"></i>
                </md-button>
            </div>
        </div>
        <div layout="row" class="profil-div desktop-profil-div" ng-hide="$ctrl.hide_save_passwort_div">
            <div layout="column" flex="70">
                <md-input-container>
                    <label ng-hide="$ctrl.hide_passwort_bool">Neues Passwort</label>
                    <input type="password" name="profil_passwort" ng-model="$ctrl.profil_passwort">
                </md-input-container>
                <md-input-container>
                    <label ng-hide="$ctrl.hide_passwort_bool">Passwort wiederholen</label>
                    <input type="password" name="profil_passwort_wiederholen"
                           ng-model="$ctrl.profil_passwort_wiederholen">
                </md-input-container>
            </div>
        </div>
        <div layout="row" class="container-item bottom-params">
            <md-button class="md-raised md-primary big-button" ng-disabled="!($ctrl.unsavedChanges())">Speichern</md-button>
            <a ui-sref="authentifikation">
                <md-button class="md-raised md-primary big-button">Ausloggen</md-button>
            </a>
        </div>
    </div>
</div>