.menu-panel-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.menu-navigator-footer {
    justify-content: space-around;
}

.menu-navigator-top {
    justify-content: space-around;

}

.description-textarea {
    border-color: #000000;
    max-width: 300px;
    width: 300px;
    max-height: 200px;
    height: 200px;
    resize: none;
}

@media screen and (min-width: 800px) {

    .ticket-editor-input {
        flex-direction: row;
    }

    .ticket-editor-input .container-item {
        flex: 50;
    }

    .description-textarea {
        max-width: 800px;
        width: 800px;

        max-height: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 1100px) {
    #ticket_ansicht_user_desktop_ansicht {
        display: none;
    }

    #ticket_hinzufuegen_user_desktop_ansicht {
        display: none;
    }

    #profil_desktop_ansicht {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    #ticket_ansicht_user_mobile_ansicht {
        display: none;
    }

    #ticket_hinzufuegen_user_mobile_ansicht {
        display: none;
    }

    #profil_mobile_ansicht {
        display: none;
    }
}

.menu-panel-left {
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.menu-panel-left > .md-scroll-shrink {
    height: 100%;
}

.left-menu-icon-div .md-fab {
    margin-top: 5%;
}

.ticket-ansicht-user-desktop-div {
    margin-left: 300px;
    height: 100%;
    width: 82.5%;
}

.ticket-hinzufuegen-user-div {
    margin-left: 300px;
    height: 100%;
    width: 82.5%;
}

.profil-desktop-div {
    margin-left: 300px;
    height: 100%;
    width: 82.5%;
}

.ticket_hinzufuegen_user_mobile_ansicht {
    height: 775px;
}

.container-item {
    margin: 2% 0 2% 0;
    justify-content: space-around;
    align-items: center;
}

.big-button {
    width: 300px;
    height: 70px
}

@media (max-device-width: 600px) {

    .layout-row .bottom-params {
        flex-direction: column;
    }

    .big-button {
        width: 250px;
        height: 50px;
    }
}

.profil-div {
    margin: 0 5% 0 5%;
    justify-content: space-between;
}

.edit_button, .save_button {
    margin-top: 5%;
}

.save_passwort_button {
    margin-top: 15%;
}

.desktop_save_passwort_button {
    margin-top: 4.5%;
}

#profil_mobile_ansicht {
    height: 700px;
}

.desktop-profil-div {
    margin-top: 2.5%;
    margin-left: 20%;
}

/*Ticket-Design*/
.ticket-id {
    font-style: italic;
}

.erstelldatum {
    font-style: italic;
}