.menu-panel-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.menu-navigator-footer {
    justify-content: space-around;
}

.menu-navigator-top {
    justify-content: space-around;

}

.description-textarea {
    border-color: #000000;
    max-width: 300px;
    width: 300px;
    max-height: 200px;
    height: 200px;
    resize: none;
}