<div layout="column" class="ticket_hinzufuegen_user_mobile_ansicht" id="ticket_hinzufuegen_user_mobile_ansicht">
    <div>
        <menu-navigator-top></menu-navigator-top>
    </div>
    <div>
        <ticket-editor></ticket-editor>
    </div>
    <div>
        <menu-navigator-footer></menu-navigator-footer>
    </div>
</div>

<div layout="row" id="ticket_hinzufuegen_user_desktop_ansicht">
    <div>
        <menu-navigator-left-user></menu-navigator-left-user>
    </div>
    <div class="ticket-hinzufuegen-user-div">
        <ticket-editor></ticket-editor>
    </div>
</div>